<div class="main">
  <div class="card form-card">
    <div class="form-wrap">
      <div class="form-group text-center">
        <h3>タスク編集</h3>
      </div>
      <%= form_with model: @task, url: mentor_task_path(@task), local: true do |f| %>
        
        <div class="form-group">
          <%= f.text_field :title, autofocus: true, placeholder: "タスク名", class: "form-control", required: true %>
        </div>
          
        <%= image_tag @task.image.url, id: :img_prev, class: "round-img" if @task.image? %>
        <div class="form-group">
          <%= f.label :image, "photo_size_select_actual", class: "material-icons" %>
          <%= f.file_field :image, placeholder: "タスクアイコン", class: "fom-control icon_image" %>
            <script type="text/javascript">
              $(function() {
                function readURL(input) {
                  if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                      $('#img_prev').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                  }
                }
                $(".icon_image").change(function(){
                  readURL(this);
                });
              });
            </script>
        </div>

        <div class="form-group">
          <%= f.text_area :content,  placeholder: "内容", class: "form-control",rows: "10", required: true %>
        </div>

        <div class="actions">
          <%= f.submit "登録", class: "btn btn-primary w-100" %>
        </div>
      <% end %>
    </div>
  </div>
</div>