<div class="task-index">
  <br>
  <br>
  <h2 class="task-title">タスク</h2>
  <div class="task-card">
    <span><%= image_tag avatar_url(@task), class: "task-round-img" %></span>
    <span class="course-title"><%=@task.title %></span>
    <br>
    <p><%= markdown(@task.content) %></p>
    <%= link_to "タスク修正", edit_mentor_task_path(@task),
                            class: "btn btn-outline-success  show_button_right" %>
    
    <% if current_user.email != 'guest@example.com' %>
      <%= link_to "タスク削除", mentor_task_path(@task),
                              method: :delete,
                              data: { confirm: "タスクを削除してもよろしいですか？"},
                              class: "btn btn-outline-danger  show_button_right" %>
    <% end %>
    <%= link_to "フィードバックの確認", mentor_feed_back_path(task_id: @task),class: "btn btn-primary  show_button_right" %>
  </div>
  <div class="row">
    <div class="col-sm-2 col-md-12">
        <%= form_with(url: mentor_task_path, local: true, method: :get, class: "form-inline col-sm-4 col-lg-6 col-xl-12") do |f| %>
          <%= f.text_field :name, class: "form-control mr-sm-2 show_search_left", placeholder: "名前", id: "search_name" %>
          <select class="form-control show_search_left" id="number" name="status">
            <option selected="selected" value="">タスク状況</option>
            <option value="complete">完了</option>
            <option value="underway">着手中</option>
            <option value="awaiting_review">レビュー待ち</option>
            <option value="remand">修正中</option>
          </select>
          <%= f.submit '検索', class: "btn btn-outline-success  show_search_left" %>
        <% end %>
    </div>
  </div>
</div>


<div class="users-index">
  <h2 class="users-title">ユーザー</h2>
  <div class="users-card">
  <% @challenge_tasks.each do |challenge_task| %>
    <div class="row">
      <% if challenge_task.answers.present? %>
        <%= link_to(mentor_answer_path(challenge_task.answers.first) , class: "users-link") do %>
          <%= image_tag challenge_task.user.image.url(:medium), class: "users-round-img" %>
          <span><%= challenge_task.user.name %></strong></span>
          <p class="team-time no-text-decoration"><%= "#{time_ago_in_words(challenge_task.user.updated_at).upcase}前" %></p>
          <% if challenge_task.status == "awaiting_review" %>
            <span class="badge badge-warning">レビュー待ち</span>
          <% elsif challenge_task.status == "remand"%>
            <span class="badge badge-success">修正中</span>
          <% elsif challenge_task.status == "complete" %>
            <span class="badge badge-dark">完了</span>
          <% else %>
            <span class="badge badge-danger">エラー</span>
          <% end %>
        <% end %>
      <% else %>
        <div class="users-link" %>
          <%= image_tag challenge_task.user.image.url(:medium), class: "users-round-img" %>
          <span><%= challenge_task.user.name %></strong></span>
          <p class="team-time no-text-decoration"><%= "#{time_ago_in_words(challenge_task.user.updated_at).upcase}前" %></p>
          <span class="badge badge-primary">着手中</span>
        </div>
      <% end %>
    </div>
  <% end %>
</div>