<div class="main_index">
  <div>
    <%= image_tag avatar_url(@task), class: "round-img show_img" %>

    <h3 class="show_title"><%= @task.title %></h3>

    <%= link_to "タスク修正", edit_mentor_task_path(@task),
                            class: "btn btn-outline-success  show_button_right" %>
    <%= link_to "タスク削除", mentor_task_path(@task),
                            method: :delete,
                            data: { confirm: "課題を削除してもよろしいですか？"},
                            class: "btn btn-outline-danger  show_button_right" %>
    <%= link_to "フィードバック", mentor_feed_back_path(@task),class: "btn btn-primary  show_button_right" %> %>
    <p class="content"><%= @task.content %></p>
  </div>
  <div class="row">
    <div class="col-sm-2 col-md-12">

        <%= form_with(url: mentor_task_path, local: true, method: :get, class: "form-inline col-sm-4 col-lg-6 col-xl-12") do |f| %>
          <%= f.text_field :name, class: "form-control mr-sm-2 show_search_left", placeholder: "名前", id: "search_name" %>
          <select class="form-control show_search_left" id="number" name="status">
            <option selected="selected" value="">課題状況</option>
            <option value="complete">完了</option>
            <option value="underway">着手中</option>
            <option value="awaiting_review">レビュー待ち</option>
            <option value="remand">修正中</option>
          </select>
          <%= f.submit '検索', class: "btn btn-outline-success  show_search_left" %>
        <% end %>
    </div>
    <% @challenge_users.each do |challenge_user| %>
      <div class="col-sm-12 col-lg-6 col-xl-4">
        <div class="image-box">
          <div class="card-body">
            <div class="row parts">
              <%= link_to (image_tag challenge_user.user.image.url(:medium), class: "image-size"), user_path(challenge_user.user_id)%>

              <div class="card-body">
                <div>
                  <span><strong><%= challenge_user.user.name %></strong></span>
                  <%= link_to time_ago_in_words(challenge_user.updated_at).upcase + "前", user_path(challenge_user.user_id), class: "team-time no-text-decoration" %><br/>
                  <% if @answer %>
                    <% if challenge_user.status == "awaiting_review" %>
                      <%= link_to "課題確認", answer_path(id: challenge_user.answers.first.id),
                                                        class: "btn btn-warning" %>
                    <% elsif challenge_user.status == "remand"%>
                      <%= link_to "修正中", answer_path(id: challenge_user.answers.first.id),
                                                      class: "btn btn-success" %>
                    <% elsif challenge_user.status == "complete" %>
                      <span class="badge badge-dark">課題完了</span>
                    <% else %>
                      <span class="badge badge-info">着手中</span>
                    <% end %>

                  <% else %>
                      <span class="badge badge-info">着手中</span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>