<div class="main">
  <div class="card form-card">
    <div class="form-wrap">
      <div class="form-group text-center">
        <h3>チーム作成</h3>
      </div>
      <%= form_with model: @team, class: "upload-images p-0 border-0", local: true do |f| %>
        
        <div class="form-group">
          <%= f.text_field :name, autofocus: true, placeholder: "チーム名", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.file_field :image, placeholder: "チームアイコン" %>
        </div>

        <div class="form-group">
          <%= f.text_area :remarks,  placeholder: "備考", class: "form-control",rows: "10" %>
        </div>

        <div class="actions">
          <%= f.submit "登録", class: "btn btn-primary w-100" %>
        </div>
      <% end %>
    </div>
  </div>
</div>