<div class="team-index">
  <h2 class="team-title">チーム</h2>
  <div class="team-card">
    <span><%= image_tag avatar_url(@team), class: "team-round-img" %></span>
    <span class="team-name"><%=@team.name %></span>
    <p><%= markdown(@team.remarks) %></p>
    
    <% if @assign.nil? %>
      <%= link_to "このチームに参加する！", assigns_path(team_id: @team), method: :post, 
                                                                  class: "btn btn-outline-primary profile-btn" %>
    <% else %>
      <% if @team.user_id != current_user.id %>
      <%= link_to "退会する", assigns_path(id: @assign.id), 
                                        method: :delete, 
                                        data: {confirm: "本当に退会してもよろしいですか？"},
                                        class: "btn btn-outline-danger profile-btn" %>
      <% end %>
    <% end %>
  </div>
</div>

<% unless @assigns.nil? %>
  <%= render 'partial/belong_users', assigns: @assigns%>
<% end %>