<div class="main">
  <div class="row">
    <div class="col-md-4 text-center">
      <%= image_tag team_icon_url(@team), class: "round-img" %>
    </div>
    <div class="col-md-8">
      <div class="row">
        <h1><%= @team.name %></h1>
        <% if @team.user_id == current_user.id %>
          <%= link_to "チーム情報編集", edit_team_path(@team), class: "btn btn-outline-dark  edit-profile-btn" %>
          <%= link_to "チーム削除", team_path(@team), class: "btn btn-danger  edit-profile-btn", method: :delete, data: { confirm: "チームを削除してもよろしいですか？"} %>
        <% else %>
          <%= link_to "このチームに参加する！", team_assigns_path(@team), method: :post, class: "btn btn-outline-dark edit-profile-btn" %>
        <% end %>
      </div>
      <div class="row">
        <%= @team.remarks %>
      </div>
    </div>
  </div>
</div>
