<div class="limited-release-course-index">
  <br>
  <br>
  <div class="limited-release-courses">
    <h2 class="limited-release-course-title">コース</h2>
    <% @courses.each do |course| %>
      <div class="row">
        <%= link_to(mentor_course_path(course) , class: "limited-release-course-link") do %>
        <%= image_tag course.image.url(:medium), class: "limited-release-course-round-img" %>
        <span class="course-title"><%= course.title %></span>
        <p><%= markdown(course.content) %></p>
        <p class="team-time no-text-decoration"><%= "#{time_ago_in_words(course.updated_at).upcase}前" %></p> 
        <% end %>
      </div>
      <br>
    <% end %>
  </div>
</div>
