<div class="limited-release-course-index">
  <br>
  <br>
  <div class="limited-release-course-courses">
    <h2 class="user-title">ユーザー</h2>
    <% @users.each do |user| %>
      <div class="row">
        <div class="limited-release-course-link" %>
        <%= image_tag user.image.url(:medium), class: "limited-release-course-round-img" %>
        <span><%= user.name %></span>
        <p class="team-time no-text-decoration"><%= "#{time_ago_in_words(user.updated_at).upcase}前" %></p> 
        <% if user.limited_release_enabled %>
          <%= link_to "削除", mentor_limited_release_course_path(user_id: user.id,
                                                                course_id: @course.id),
                                                                method: :delete,
                                                                data: { confirm: "公開限定コースから削除してもよろしいですか？"},
                                                                class: "btn btn-danger" %>
        <% else %>
          <%= link_to "コースに追加", mentor_limited_release_courses_path(user_id: user.id,
                                                                        course_id: @course.id), 
                                                                        data: { confirm: "公開限定コースに追加してもよろしいですか？"},
                                                                        method: :post,
                                                                        class: "btn btn-primary" %>
        <% end %>
        </div>
      </div>
      <br>
    <% end %>
  </div>
</div>
