<div class="answers-index">
  <br>
  <br>
  <h2 class="answer-title">質問</h2><br>
  <div class="answers-card">
    <% @questions.each do |question|%>
      <div class="row">
        <%= link_to(mentor_question_path(question.id) , class: "answers-link") do %>
          <%= image_tag question.user.image.url(:medium), class: "answers-round-img" %>
          <span><%= question.title %></span>
          <p>氏名:<%= question.user.name %></p>
          <p>タイトル:<%= question.title %></p>
          <p>内容:<%= question.content %></p>
          <p class="answer-time no-text-decoration"><%= "#{time_ago_in_words(question.updated_at).upcase}前" %></p>
        <% end %>
      </div>
  <% end %>
  </div>
</div>