<div class="answer-show">
  <h2 class="answer-title">回答</h2>
  <div class="answer-card">
    <span><%= image_tag avatar_url(@answer.task), class: "answer-round-img" %></span>
    <span class="course-title"><%=@answer.task.title %></span>
    <p class="course-title">URL<%=markdown(@answer.url) %></p>
    <p><%= markdown(@answer.content) %></p>

    <% if @answer.user_id == current_user.id %>
      <%= link_to "回答修正", edit_answer_path(id: @answer.id), class: "btn btn-outline-success right_answer_button" %>
    <% end %>
    <% if @answer_user.status == "admin" || @answer_user.status == "mentor" %>
      <%= link_to "完了", challenge_start_path(id: @answer.challenge_start_id),
                                              class: "btn btn-outline-primary conmplete_button", 
                                              method: :patch, 
                                              data: { confirm: "タスクを完了してもよろしいですか？"} %>
    <% end %>
    <%= render partial: 'comments/form', locals: { comment: @comment } %>
  </div>
</div>
<div id="comments_area">
  <%= render partial: 'comments/index', locals: { comments: @comments } %>
</div>