<div class="main">
  <div class="card form-card">
    <div class="form-wrap">
      <div class="form-group text-center">
        <h3>フィードバック</h3>
      </div>
      <%= form_with model: @answer, url: team_assign_task_challenge_start_answers_path(team_id: @answer.team_id, 
                                                                                       assign_id: @answer.assign_id, 
                                                                                       task_id: @answer.task_id, 
                                                                                       challenge_start_id: @answer.challenge_start_id), 
                                                                                       local: true do |f| %>
        
        <div class="form-group">
          <%= f.text_field :url, autofocus: true, placeholder: "URL（任意）", class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.text_area :content,  placeholder: "内容", class: "form-control",rows: "25" %>
        </div>

        <div class="form-group">
          <%= f.file_field :image %>
        </div>

        <div class="actions">
          <%= f.submit "回答", class: "btn btn-primary w-100" %>
        </div>
      <% end %>
    </div>
  </div>
</div>