<div class="main">
  <div class="card form-card">
    <div class="form-wrap">
      <div class="form-group text-center">
        <p>サインアップ</p>
      </div>
      <%= form_with scope: resource, as: resource_name, url: registration_path(resource_name), local: true do |f| %>

        <div class="form-group">
          <%= f.text_field :name, autofocus: true, placeholder: "フルネーム", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.email_field :email, placeholder: "メールアドレス", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.file_field :image, placeholder:"アイコン", class: "fom-control" %>
        </div>

        <div class="form-group">
          <%= f.text_area :profile, placeholder: "プロフィール", class: "form-control"%>
        </div>

        <div class="form-group">
          <%= f.password_field :password, placeholder: "パスワード", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password_confirmation, placeholder: "パスワード確認", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "サインアップ", class: "btn btn-primary w-100" %>
        </div>
      <% end %>
      <br>

      <p class="form-card">
        アカウントをお持ちですか？
        <%= link_to "サインイン", new_user_session_path %>
      </p>
      <p class="form-card">
          <%= link_to "ゲストアカウントでログイン", guest_sign_in_path, method: :post %>
      </p>
    </div>
  </div>
</div>