<div class="main_index">
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <div class="row">
        <div class="col-md-12">
          <div class="image-box-comment">
            <span><%= image_tag avatar_url(comment.user), class: "round-img float-md-left"  %></span>
            <div class="comment_info">
            <span class=""><%= comment.user.name %></span><br>
            <span class=""><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></span>
            <div class="card-body">
              <div>
                <div class="form-group">
                  <textarea  class="form-control comment_form" rows="10"><%= safe_join(comment.content.split("\n")) %></textarea>
                </div>
                  <span><%= link_to "コメント削除", team_assign_task_challenge_start_answer_comments_path(team_id: comment.team_id, 
                                                                                                        assign_id: comment.assign_id, 
                                                                                                        task_id: comment.task_id, 
                                                                                                        challenge_start_id: comment.challenge_start_id, 
                                                                                                        answer_id: comment.answer_id, id: comment.id), 
                                                                                                        method: :delete, 
                                                                                                        data: {confirm: "削除してもよろしいですか？"}, 
                                                                                                        remote: true,
                                                                                                        class: "float-md-right " %>

                <span><%= link_to "コメント編集", edit_team_assign_task_challenge_start_answer_comments_path(team_id: comment.team_id, 
                                                                                                            assign_id: comment.assign_id, 
                                                                                                            task_id: comment.task_id, 
                                                                                                          challenge_start_id: comment.challenge_start_id, 
                                                                                                          answer_id: comment.answer_id, id: comment.id), 
                                                                                                          remote: true,
                                                                                                          class: "float-md-right " %>
                                                                                                        

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
