<div class="main_index">
  <h2>課題一覧</h2>
  <% if current_user.id == @assign.team.user_id %>
    <%= link_to "課題作成", new_team_assign_task_path(assign_id: @assign.id, 
                                                    team_id: @assign.team.id), 
                                                    class: "btn btn-primary"%>
    <%= link_to "フィードバック一覧", team_feed_backs_path(team_id: @assign.team_id),
                                                       class: "btn btn-success"%>
  <% end %>
  <div class="row">
    <% unless @tasks.nil? %>
      <% @tasks.each do |task|%>
        <div class="col-md-4">
          <div class="image-box">
          <%= link_to (image_tag task.image.url(:medium), class: "image-size"), team_assign_task_path(user_id: task.user_id,
                                                                                                      team_id: task.assign.team_id, 
                                                                                                      assign_id: task.assign.id, 
                                                                                                      id: task.id)%>
          <div class="card-body">
            <div class="row parts">
              <%= link_to "詳細", team_assign_task_path(team_id: task.assign.team_id, 
                                                        assign_id: task.assign.id, 
                                                        id: task.id), 
                                                        class: "team_info" %>
                                                      
            </div>
            <div>
              <span><strong><%= task.user.name %></strong></span>
              <%= link_to time_ago_in_words(task.updated_at).upcase + "前", team_assign_task_path(assign_id: task.assign.id, 
                                                                                                  team_id: task.assign.team_id, 
                                                                                                  id: task.id), 
                                                                                                  class: "team-time no-text-decoration" %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
    <% end %>
  </div>
</div>