<div class="main_index">
  <h2>タスク</h2>
  <div class="row">
    <div class="col-sm-6 col-md-12">
      <% unless @tasks.blank? %>
        <%= form_with(url: tasks_path, local: true, method: :get, class: "form-inline") do |f| %>
          <%= f.text_field :title, class: "form-control mr-sm-2 search_left", placeholder: "タスク名" %>
          <%= f.submit '検索', class: "btn btn-outline-success  search_left" %>

          <% if @assign.status == "admin" || @assign.status == "mentor" %>
            <%= link_to "タスク作成", new_task_path(assign_id: @assign.id), 
                                                  class: "btn btn-outline-info button_right",
                                                  id: "task_create"%>
            <%= link_to "フィードバック", feed_backs_path(team_id: @assign.team_id), class: "btn btn-outline-primary button_right"%>
          <% end %>
        <% end %>
      <% end %>

    </div>
  </div>

  <div class="row">
    <% unless @tasks.blank? %>
      <% @tasks.each do |task|%>
        <div class="col-sm-12 col-lg-6 col-xl-4">
          <div class="image-box">
          <%= link_to (image_tag task.image.url(:medium), class: "image-size"), task_path(task)%>
          <div class="card-body">
            <div class="row parts">
              <%= link_to "詳細", task_path(task), class: "btn btn-outline-info team_info" %>
                                                      
            </div>
            <div>
              <span><strong><%= task.title %></strong></span>
              <%= link_to time_ago_in_words(task.updated_at).upcase + "前", task_path(task), class: "team-time no-text-decoration" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
        <div class="col-sm-12 col-lg-6 col-xl-4">
          <h4>現在タスクが作成されておりません。</h4>
          <h4>もう少々お待ちください。</h4>
        </div>
    <% end %>
  </div>
</div>