<div class="task-index">
  <h2 class="task-title">タスク</h2>
  <div class="task-card">
    <span><%= image_tag avatar_url(@task), class: "task-round-img" %></span>
    <span class="course-title"><%=@task.title %></span>
    <p><%= markdown(@task.content) %></p>
    <% if @challenge_task.nil? %>
      <%= link_to "取り組む", challenge_starts_path(task_id: @task.id), 
                                                  method: :post,
                                                  class: "btn btn-outline-primary  show_button_right" %>
    <% elsif  @challenge_task.status == "awaiting_review" || @challenge_task.status == "remand" && @answer.present? %>
      <%= link_to "回答修正", edit_answer_path(id: @answer.id), 
                                              class: "btn btn-outline-success  show_button_right" %>

      <%= link_to "コメント", answer_path(id: @answer.id), 
                                        class: "btn btn-outline-info  show_button_right" %>
    <% else %>
      <%= link_to "回答", new_answer_path(challenge_start_id: @challenge_task.id), class: "btn btn-outline-primary  show_button_right" %>
    <% end %>
  </div>
</div>