<div class="main">
  <div class="row">
    <div class="col-md-4 text-center">
      <%= image_tag avatar_url(@task), class: "round-img" %>
    </div>
    <div class="col-md-8">
      <div class="row">
        <h1><%= @task.title %></h1>
        <% if @task.user_id == current_user.id %>
          <%= link_to "課題編集", edit_team_assign_task_path(@task), class: "btn btn-outline-dark  edit-profile-btn" %>
          <%= link_to "課題削除", team_assign_task_path(@task), class: "btn btn-danger  edit-profile-btn", method: :delete, data: { confirm: "課題を削除してもよろしいですか？"} %>
        <% end %>
      </div>
      <div class="row">
        <%= @task.content %>
      </div>
      <% if @answer.nil? %>
        <%= link_to "課題に取り組む！", team_assign_task_challenge_starts_path(team_id: @task.team_id, assign_id: @task.assign_id, task_id: @task.id), method: :post, class: "btn btn-primary edit-profile-btn" %>
      <% elsif  @answer.challenge_start.status == "awaiting_review" %>
        <%= link_to "回答を修正する", edit_team_assign_task_challenge_start_answer_path(team_id: @answer.team_id, assign_id: @answer.assign_id, task_id: @answer.task_id, challenge_start_id: @answer.challenge_start_id, id: @answer.id), class: "btn btn-success edit-profile-btn" %>
      <% else %>
        <%= link_to "回答する", new_team_assign_task_challenge_start_answer(team_id: @answer.team_id, assign_id: @answer.assign_id, task_id: @answer.task_id, challenge_start_id: @answer.challenge_start_id), class: "btn btn-success edit-profile-btn" %>
        <%= link_to "課題を諦める", team_assign_task_challenge_start_path(team_id: @task.team_id, assign_id: @task.assign_id, task_id: @task.id), method: :delete, data: { confirm: "本当に諦めますか？"}, class: "btn btn-danger edit-profile-btn" %>
      <% end %>
    </div>
  </div>
</div>
