<div class="main">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="profile-form-wrap">
        <%= form_with model: @team, url: mentor_team_path, local: true do |f| %>
          
          <div class="form-group">
            <%= f.label :name, "チーム名" %>
            <%= f.text_field :name, autofocus: true, class: "form-control", required: true %>
          </div>
          <% if @team.image? %>
            <%= image_tag @team.image.url, class: "round-img", id: :img_prev %>
          <% else %>
           <%= image_tag "no_image.png", class: "round-img", id: :img_prev %>
          <% end %>
          <div class="form-group">
            <%= f.label :image, "photo_size_select_actual", class: "material-icons" %>
            <%= f.file_field :image, value: @team.image.url, class: "form-control icon_image"%>
            <script type="text/javascript">
              $(function() {
                function readURL(input) {
                  if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                      $('#img_prev').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                  }
                }
                $(".icon_image").change(function(){
                  readURL(this);
                });
              });
            </script>
          </div>

          <div class="form-group">
            <%= f.text_area :remarks, placeholder: "備考", class: "form-control",rows: "10" %>
          </div>

          <%= f.submit "更新", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>