<div class="teams-index">
  <br>
  <h2 class="teams-title">チーム</h2><br>
  <div class="teams-card">
    <%= link_to "チーム作成", new_mentor_team_path, class: "btn btn-primary"%>
    <% if @teams.present? %>
      <% @teams.each do |team|%>
        <div class="row">
          <%= link_to(mentor_team_path(team) , class: "teams-link") do %>
            <%= image_tag team.image.url(:medium), class: "teams-round-img" %>
            <span><%= team.name %></span>
            <p><%= markdown(team.remarks.truncate(50)) %></p>
            <p class="team-time no-text-decoration"><%= "#{time_ago_in_words(team.updated_at).upcase}前" %></p>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <h3>チームを作成しておりません！<br>新しくチームを作成しましょう！</h3>
      <h3>
    <% end %>
  </div>
</div>