<div class="team-index">
  <br>
  <h2 class="team-title">チーム</h2>
  <div class="team-card">
    <span><%= image_tag avatar_url(@team), class: "team-round-img" %></span>
    <span><%= markdown(@team.name) %></span>
    <p><%= markdown(@team.remarks) %></p>
    <%= link_to "チーム情報編集", edit_mentor_team_path(@team), class: "btn btn-outline-success" %>
    <%= link_to "メンバー", mentor_users_path(team_id: @team), class: "btn btn-outline-warning" %>
    <% if current_user.email != 'guest@example.com' %>
      <%= link_to "チーム削除", mentor_team_path(@team), class: "btn btn-outline-danger", method: :delete, 
                                                                                        data: { confirm: "チームを削除してもよろしいですか？"} %>
    <% end %>
  </div>
</div>
<div class="challenge-courses-index">
  <h2 class="challenge-courses-title">コース</h2>
  <div class="challenge-courses-card">
  <br>
  <%= link_to "コース作成", new_mentor_course_path(team_id: params[:id]), class: "btn btn-outline-primary mobile_button"%>
    <% @courses.each do |course| %>
      <div class="row">
        <%= link_to(mentor_course_path(course) ,class: "challenge-courses-link") do %>
          <%= image_tag course.image.url(:medium), class: "challenge-courses-round-img" %>
          <span><%= course.title %></span>
          <% if course.status == 'release' %>
            <span class="badge badge-primary">公開</span>
          <% elsif course.status == 'limited_release' %>
            <span class="badge badge-danger">限定公開</span>
          <% else %>
            <span class="badge badge-dark">非公開</span>
          <% end %>
          <p><%= markdown(course.content.truncate(50)) %></p>
          <p class="team-time no-text-decoration"><%= "#{time_ago_in_words(course.updated_at).upcase}前" %></p>
        <% end %>
      </div>
      <br>
    <% end %>
  </div>
</div>