<div class="challenge-courses-index">
  <br>
  <h2 class="challenge-courses-title">コース</h2>
  <% unless @courses.blank? %>
    <div class="challenge-courses-card">
      <% @courses.each do |challenge_course|%>
        <div class="row">
          <%= link_to(challenge_course_path(challenge_course) , class: "challenge-courses-link") do %>
            <%= image_tag challenge_course.course.image.url(:medium), class: "challenge-courses-round-img" %>
            <span><%= challenge_course.course.title %></span>
            <% if challenge_course.limited_release_enabled && challenge_course.course.status == 'limited_release'%>
              <span class="badge badge-dark">限定コース</span>
            <% end %>
            <p><%= challenge_course.course.content.truncate(50) %></p>
            <p class="team-time no-text-decoration"><%= "#{time_ago_in_words(challenge_course.updated_at).upcase}前" %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <h3><br>まだ何もタスクに取り組んでいません！<br>
    マイチームからタスクに挑戦しましょう！</h3>
  <% end %>
</div>
