<div class="user-index">
  <br>
  <br>
  <h2 class="user-title">プロフィール</h2>
  <div class="user-card">
    <%= image_tag avatar_url(@user), class: "user-round-img" %>
    <span class="user-name"><%= @user.name %></span>
    <% if @user == current_user %>
      <%= @user.email %>  
    <% end %>
    <br>
    <% if @user == current_user && current_user.email != "guest@example.com"%>
      <%= link_to "プロフィール編集", edit_user_registration_path, 
                                    class: "btn btn-outline-success common-btn profile-btn" %>
    <% end %>
    <p><%= markdown(@user.profile) %></p>
    <%= link_to "戻る", :back, class: "btn btn-outline-success" %>
  </div>
</div>
