<div class="main_index">
  <div class="row">
    <div class="col-sm-6 col-md-12">
      <h2>メンバー</h2>
      <div class="row">
        <% @users.each do |user|%>
          <div class="col-sm-12 col-lg-6 col-xl-4">
            <div class="image-box">
              <%= image_tag avatar_url(user), class: "round-img" %>
            <div class="card-body">
              <div class="row parts">
                <%= link_to "詳細", belong_team_user_path(team_id: params[:team_id], 
                                                          id: user.id),
                                                          class: "btn btn-outline-info" %>
              </div>
              <div>
                <span><strong><%= user.name %></strong></span>
                <%= link_to time_ago_in_words(user.assigns.first.updated_at).upcase + "前", belong_team_user_path(team_id: params[:team_id], 
                                                                                                                  id: user.id), 
                                                                                                                  class: "team-time no-text-decoration" %>
                <% if user.assigns.first.status == "admin" %>
                  <%= link_to "管理者", belong_team_user_path(team_id: params[:team_id], 
                                                              id: user.id),
                                                              class: "badge badge-primary" %>

                <% elsif user.assigns.first.status == "mentor" %>
                  <%= link_to "メンター", belong_team_user_path(team_id: params[:team_id], 
                                                              id: user.id),
                                                              class: "badge badge-success" %>
                  
                <% elsif user.assigns.first.status =="member" %>
                  <%= link_to "メンバー", belong_team_user_path(team_id: params[:team_id], 
                                                              id: user.id),
                                                              class: "badge badge-info" %>
                <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>