<div class="main">
  <div class="row">
    <div class="col-md-4 text-center">
      <%= image_tag avatar_url(@assign_user.first.user), class: "round-img" %>
    </div>
    <div class="col-md-8">
      <div class="row">
        <h1><%= @assign_user.first.user.name %></h1>
      </div>
      <div class="row">
        <h1><%= @assign_user.first.status %></h1>
      </div>
      <div class="row">
        <p class="profile"><%= @assign_user.first.user.profile %></p>
      </div>
        <% if @admin_user && @admin_user.status == "admin" ||  @admin_user.status == "memtor"%>
          <% if @assign_user.first.status == "memtor" %>
            <%= link_to "メンバーにする", team_assign_path(@assign_user.first.user, 
                                                        status: "member",
                                                        team_id: @assign_user.first.team_id), 
                                                        method: :PATCH, 
                                                        data: {confirm: "メンバーにしてもよろしいですか？"}, 
                                                        class: "btn btn-success" %>
          <% elsif @assign_user.first.status == "member" %>
            <%= link_to "メンターにする", team_assign_path(@assign_user.first.user, 
                                                        status: "memtor",
                                                        team_id: @assign_user.first.team_id), 
                                                        method: :PATCH, 
                                                        data: {confirm: "メンターにしてもよろしいですか？"}, 
                                                        class: "btn btn-primary" %>
          <% end %>
        <% end %>

        <% if @admin_user.status != "admin"%>
          <%= link_to "チーム退会", team_assign_path(id: @assigin_user.user_id,
                                                   team_id: @assign_user.team_id, 
                                                   method: :delete, 
                                                   data: {confirm: "ユーザーを削除してもよろしいですか？"}, 
                                                   class: "btn btn-danger") %>
        <% end %>
    </div>
  </div>
</div>
