<li class="nav-item">
  <%= link_to user_path(current_user), class: "nav-link" do %>
    <i class="material-icons">account_box</i>
    <p>プロフィール</p>
  <% end %>
</li>

<li class="nav-item">
  <%= link_to challenge_courses_path, class: "nav-link" do %>
    <i class="material-icons">school</i>
    <span>マイコース</span>
  <% end %>
</li>

<li class="nav-item">
  <%= link_to belong_teams_path, class: "nav-link" do %>
    <i class="material-icons">group</i>
    <p>マイチーム</p>
  <% end %>
</li>

<li class="nav-item">
  <%= link_to teams_path, class: "nav-link" do %>
    <i class="material-icons">search</i>
    <p>チームを探す</p>
  <% end %>
</li>

<li class="nav-item">
  <%= link_to "#", class: "nav-link", data: {confirm: "準備中です。"} do %>
    <i class="material-icons">question_answer</i>
    <p>Q<small>&</small>A</p>
    <p>　　　(準備中)</p>
  <% end %>
</li>

<li class="nav-item">
  <%= link_to user_change_status_path(user_id: current_user), method: :post , class: "nav-link" do %>
    <i class="material-icons">transfer_within_a_station</i>
    <p>メンターになって教える</p>
  <% end %>
</li>