<li class="nav-item">
  <%= link_to mentor_teams_path, class: "nav-link" do %>
    <i class="material-icons">group</i>
    <p>マイチーム</p>
  <% end %>
</li>

<li class="nav-item">
  <%= link_to mentor_limited_release_courses_path, class: "nav-link" do %>
    <i class="material-icons">assignment_ind</i>
    <p>限定公開コース</p>
  <% end %>
</li>

<li class="nav-item">
  <%= link_to mentor_answers_path, class: "nav-link" do %>
    <i class="material-icons">question_answer</i>
    <p>レビュー待ち</p>
  <% end %>
</li>

<li class="nav-item">
  <%= link_to "#", class: "nav-link", data: {confirm: "準備中です。"} do %>
    <i class="material-icons">question_answer</i>
    <p>Q<small>&</small>A(未回答)</p>
    <p>　　　(準備中)</p>
  <% end %>
</li>

<li class="nav-item">
  <%= link_to user_change_status_path(user_id: current_user), method: :post , class: "nav-link" do %>
    <i class="material-icons">transfer_within_a_station</i>
    <p>メンバーに戻る</p>
  <% end %>
</li>