<div class="header">
  <input type="checkbox" id="openSidebarMenu" checked />
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <% if user_signed_in?%>
        <li class="list-group-item"><%= link_to(image_tag(avatar_url(current_user), class: "round-img"), user_path(id: current_user.id)) %></li>
        
        <%= link_to user_path(current_user), class: "list-group-item list-group-item-action" do %>
          <span><strong>プロフィール</strong></span>
        <% end %>

        <%= link_to  teams_path, class: "list-group-item list-group-item-action" do %>
          <span><strong>チーム</strong></span>
        <% end %>

        <%= link_to belong_teams_path, class: "list-group-item list-group-item-action" do %>
          <span><strong>所属チーム</strong></span>
        <% end %>

        <%= link_to challenge_starts_path, class:"list-group-item list-group-item-action" do %>
          <span><strong>課題</strong></span>
        <% end %>

        <%= link_to destroy_user_session_path, method: :delete, class: "list-group-item list-group-item-action" do %>
          <span><strong>サインアウト</strong></span>
        <% end %>

      <% else %>

        <%= link_to new_user_registration_path, class: "list-group-item list-group-item-action" do %>
          <span><strong>サインアップ</strong></span>
        <% end %>

        <%= link_to new_user_session_path, class: "list-group-item list-group-item-action" do %>
          <span><strong>サインイン</strong></span>
        <% end %>
        <%= link_to guest_sign_in_path, method: :post, class: "list-group-item list-group-item-action" do %>
          <span><strong>ゲストログイン</strong></span>
        <% end %>
      <% end %>

    </ul>
  </div>
</div>