<div class="header row">
  
  <input type="checkbox" id="openSidebarMenu" />
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li class="list-group-item"><%= link_to(image_tag(avatar_url(current_user), class: "round-img"), administrator_path(current_user)) %></li>
      <% if user_signed_in? %>

        <%= link_to administrator_path(current_user), class: "list-group-item list-group-item-action" do %>
          <span><strong>プロフィール</strong></span>
        <% end %>

        <%= link_to administrators_path, class: "list-group-item list-group-item-action" do %>
          <span><strong>ユーザー</strong></span>
        <% end %>

        <%= link_to  "#", class: "list-group-item list-group-item-action" do %>
          <span><strong>ラベル</strong></span>
        <% end %>

        <%= link_to destroy_user_session_path, method: :delete, class: "list-group-item list-group-item-action" do %>
          <span><strong>サインアウト</strong></span>
        <% end %>
        
      <% end %>
    </ul>
  </div>
</div>