<div class="header">
  <input type="checkbox" id="openSidebarMenu" checked />
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li><%= link_to "ホーム", "#", class: "list-group-item list-group-item-action" %></li>

      <% if user_signed_in?%>
        <li><%= link_to "プロフィール", user_path(current_user),　class: "nav-link　list-group-item list-group-item-action" %></li>
        <li><%= link_to "チーム作成", new_team_path, class: "list-group-item list-group-item-action"%></li>
        <li><%= link_to "チーム一覧", teams_path, class: "list-group-item list-group-item-action"%></li>
        <li><%= link_to "所属チーム一覧", belong_teams_path, class: "list-group-item list-group-item-action" %></li>
        <li><%= link_to "着手中課題一覧", challenge_starts_path, class: "list-group-item list-group-item-action" %></li>
        <li><%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: "list-group-item list-group-item-action" %></li>
      <% else %>
        <li><%= link_to "サインアップ", new_user_registration_path, class: "list-group-item list-group-item-action" %></li>
        <li><%= link_to "サインイン", new_user_session_path, class: "list-group-item list-group-item-action" %></li>
      <% end %>

    </ul>
    </div>
</div>