
<div class="main">
  <h2 class="answer-new-title">回答</h2>
  <%= form_with model: @answer, url: answer_path(@answer), 
                                    method: :PATCH, 
                                    local: true do |f| %>
    
    <div class="form-group">
      <%= f.url_field :url, autofocus: true, placeholder: "GitHub デプロイ先等のURL（任意）", class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= f.text_area :content,  placeholder: "内容", class: "form-control",rows: "25" %>
    </div>

    <div class="form-group">
      <%= f.file_field :image %>
    </div>

    <div class="actions">
      <%= f.submit "回答", class: "btn btn-primary w-100" %>
    </div>
  <% end %>
</div>