<div class="main">
  <div class="row">
    <div class="col-md-4 text-center">
      <%= image_tag avatar_url(@answer.task), class: "round-img" %>
    </div>
    <div class="col-md-8">
      <div class="row">
        <h1><%= @answer.url %></h1>
        <% if @answer.user_id == current_user.id %>
          <%= link_to "回答編集", edit_team_assign_task_challenge_start_answer_path(team_id: @answer.team_id, assign_id: @answer.assign_id, task_id: @answer.task_id, challenge_start_id: @answer.challenge_start_id, id: @answer.id), class: "btn btn-outline-dark  edit-profile-btn" %>
          <%= link_to "回答削除", team_assign_task_challenge_start_answer_path(team_id: @answer.team_id, assign_id: @answer.assign_id, task_id: @answer.task_id, challenge_start_id: @answer.challenge_start_id, id: @answer.id), class: "btn btn-danger  edit-profile-btn", method: :delete, data: { confirm: "課題を削除してもよろしいですか？"} %>
        <% end %>
        <% if @answer.assign_id.status == "admin" || @answer.assign_id.status == "memtor" %>
          <%= link_to "完了", team_assign_task_challenge_start_answer_path(team_id: @answer.team_id, assign_id: @answer.assign_id, task_id: @answer.task_id, challenge_start_id: @answer.challenge_start_id, id: @answer.id), class: "btn btn-danger  edit-profile-btn", method: :delete, data: { confirm: "課題を削除してもよろしいですか？"} %>
        <% end %>
      </div>
      <div class="row">
        <%= @answer.content %>
      </div>
      <div class="row">
        <h3>コメント一覧</h3>
        <%= render partial: 'comments/form', locals: { comment: @comment } %>
        <div id="comments_area">
          <%= render partial: 'comments/index', locals: { comments: @comments } %>
        </div>
      </div>
    </div>
  </div>
</div>
