<div class="course-show">
  <br>
  <h2 class="courses-title">コース</h2>
  <div class="course-card">
    <span><%= image_tag avatar_url(@course), class: "course-round-img" %></span>
    <span><%= markdown(@course.title) %></span>
    <p><%= markdown(@course.content) %></p>
    <%= link_to "コース修正", edit_mentor_course_path(@course), class: "btn btn-success"%>
    
    <% if @course.status == "limited_release" %>
      <%= link_to "メンバーの追加", mentor_limited_release_course_path(@course), class: "btn btn-warning"%>
    <% end %>
    
    <%= link_to "フィードバックの確認", mentor_feed_backs_path(course_id: @course.id),class: "btn btn-primary  " %>
    <% if current_user.email != 'guest@example.com' %>
      <%= link_to "コース削除", mentor_course_path(@course), data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger" %>
    <% end %>
    
  </div>
  <%= link_to "タスク作成", new_mentor_task_path(course_id: params[:id]), class: "btn btn-outline-primary mobile_button"%>
  <h2 class="task-title">タスク</h2>
  <div class="course-tasks">
    <% @tasks.each do |task| %>
      <div class="row">
        <%= link_to(mentor_task_path(task) ,class: "tasks-link") do %>
          <%= image_tag task.image.url(:medium), class: "tasks-round-img" %>
          <span><%= task.title %></strong></span>
          <br>
          <p><%= task.content.truncate(50) %></p>
          <p class="team-time no-text-decoration"><%= "#{time_ago_in_words(task.updated_at).upcase}前" %></p>
        <% end %>
      </div>
      <br>
    <% end %>
  </div>
</div>