<div class="feed-back-show">
  <h2 class="feed-back-title">フィードバック</h2>
  <div class="feed-back-card">
    <%= image_tag avatar_url(@task), class: "feed-back-round-img" %>
    <span><%=@task.title %></span>
    <span><strong>平均値:<%= @feed_back_average.values[0].to_i %></strong></span><br>
    <span><strong>フィードバック数:<%= @feed_back_count.values[0].to_i %></strong></span>
    <p><%= @task.content %></p>
  </div>
</div>
<div class="users-index">
  <h2 class="users-title">メンバー</h2>
  <div class="users-card">
    <% if @feed_backs.present? %>
      <% @feed_backs.each do |feed_back| %>
        <div class="row">
          <div class="users-link">
            <span><%= image_tag avatar_url(feed_back.user), class: "round-img float-md-left"  %></span>
            <span><%= feed_back.user.name %></span><br>
            <span>評価:<%= feed_back.feeling_number %></span><br>
            <p class="feed_back_form" rows="10"><%= markdown(feed_back.reason) %></p>
            <p><%= feed_back.created_at.strftime('%Y/%m/%d %H:%M') %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>