<div class="main">
  <div class="row">
    <div class="col-md-4 text-center">
      <%= image_tag avatar_url(@user), class: "round-img" %>
    </div>
    <div class="col-md-8">
      <div class="row">
        <h1><%= @user.name %></h1>
        <% if current_user.admin? %>
          <%= link_to "削除", administrator_path(@user.id), 
                                              method: :delete, 
                                              data: {confirm: "本当に削除してもよろしいですか"}, 
                                              class: "btn btn-danger  edit-profile-btn" %>
        <% end %>

      </div>
      <% if @user = current_user %>
        <div class="row">
          <%= @user.email %>  
        </div>
      <% end %>
        <div class="row">
          <%= @user.profile %>
        </div>
    </div>
  </div>
</div>
