<div class="main_index">
  <h2>所属チーム一覧</h2>
  <div class="row">
    <% @teams.each do |team|%>
      <div class="col-md-4">
        <div class="image-box">
        <%= link_to (image_tag team_icon_url(team),class: "image-size"), team_assign_tasks_path(assign_id: team.assigns.first.id, 
                                                                                                     team_id: team.assigns.first.team_id)%>
        <div class="card-body">
          <div class="row parts">
            <%= link_to "課題を始める！", team_assign_tasks_path(assign_id: team.assigns.first.id,  
                                                               team_id: team.assigns.first.team_id), 
                                                               class: "team_info" %>
          </div>

          <div class="row parts">
            <%= link_to "所属ユーザー一覧", team_assign_belong_team_users_path(assign_id: team.assigns.first.id, 
                                                                            team_id: team.assigns.first.team_id), 
                                                                            class: "team_info" %>
          </div>
          <div>
            <span><strong><%= team.name %></strong></span>
            <%= link_to time_ago_in_words(team.updated_at).upcase + "前", team_assign_tasks_path(assign_id: team.assigns.first.id, 
                                                                                                 team_id: team.assigns.first.team_id), 
                                                                                                 class: "team-time no-text-decoration" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>