<div class="course-index">
  <div class="course-card">
    <span><%= image_tag avatar_url(@course), class: "course-round-img" %></span>
    <span><div class="course-title"><%= markdown(@course.title) %></div></span>
    <p><%= markdown(@course.content) %></p>
  </div>
  <div class="course-tasks">
    <% @tasks.each do |task| %>
      <div class="row">
        <%= link_to(task_path(task) ,class: "course-link") do %>
          <div class="image-box-course">
              <%= image_tag task.image.url(:medium), class: "round-img float-md-left" %>
              <p><strong>タスク名:<%= task.title %></strong></p>
              <p>内容:<%= task.content %></p>
              <p class="team-time no-text-decoration"><%= "#{time_ago_in_words(task.updated_at).upcase}前" %></p>

          </div>
        <% end %>
      </div>
      <br>
    <% end %>
  </div>
</div>