<div class="main_index">

  <%= image_tag avatar_url(@course), class: "round-img show_img" %>

  <h3 class="show_title"><%= @course.title %></h3>

  <p class="content"><%= @course.content %></p>

    
  <% @tasks.each do |task| %>
    <div class="row">
      <div class="col-md-12">
        <div class="image-box-comment">
          <div class="card-body">
            <div class="row parts">
              <div class="card-body">
                <div>

                <%= link_to (image_tag task.image.url(:medium), class: "round-img float-md-left"), task_path(task)%>
                  <p><strong>タスク名:<%= task.title %></strong></p>
                  <p>内容:<%= task.content %></p>
                  <%= link_to time_ago_in_words(task.updated_at).upcase + "前", task_path(task), class: "team-time no-text-decoration" %><br/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>