<div class="main_index">
  <h2>マイチーム</h2>
  <% if current_user.status == "mentor"%>
    <%= link_to "チーム作成", new_mentor_team_path, class: "btn btn-outline-primary  button_right mobile_button"%>
  <% end %>
  <div class="row">
    <% unless @teams.blank? %>
      <% @teams.each do |team|%>
        <div class="col-sm-12 col-lg-6 col-xl-4">
          <div class="image-box">
          <%= link_to (image_tag team_icon_url(team),class: "image-size"), tasks_path(id: team)%>
          <div class="card-body">
            <div class="row parts">
              <%= link_to "コース", courses_path(id: team.id), class: "btn btn-outline-info",id: "task_link" %>
              <%= link_to "メンバー", belong_team_users_path(team_id: team.id), class: "btn btn-outline-warning btn_right" %>
            </div>
            <div>
              <span><strong><%= link_to team.name, team_path(team.id) %></strong></span>
              <%= link_to time_ago_in_words(team.updated_at).upcase + "前", team_path(team.id), class: "team-time no-text-decoration" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <h3>どのチームにも所属しておりません！<br>チームから参加したいチームを選びましょう！</h3>
      <h3>
    <% end %>
  </div>
</div>