<!DOCTYPE html>
<html>
  <head>
    <title>Ssgl</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  </head>

  <body>

      <%= render 'partial/navbar' %>
     <div class="container-fluid">
        <div class="container">
          <%= render 'partial/flash'%>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

            <%= render 'partial/footer' %>
  </body>
</html>
