<!DOCTYPE html>
<html>
  <head>
    <title>Ssgl</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <%= render 'partial/navbar' %>


      <div class="container contents">
        <%= render 'partial/flash'%>
        <%= yield %>
        <%= render 'partial/footer' %>
      </div>
  </body>
</html>
